h1,
h2,
h3,
p {
  margin: 0;
  font-weight: normal;
}

.main {
  display: flex;
  gap: 1rem;
}

.hero {
  background-color: rgba(0, 0, 0, 0.4);
}

.main {
  text-align: center;
}

.section,
.side {
  display: flex;
  flex-direction: column;
}

.section {
  gap: 0.5rem;
}

.side {
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}

.flight-card {
  border-radius: 12px;
  background: var(--primary-button-color);
  box-shadow: 0 1px 1px 0.5px rgba(0, 0, 0, 0.3);
  padding: 0.3rem;
  transition: all var(--fast-transition);
}

.flight-card:hover {
  box-shadow: none;
  cursor: pointer;
}

.flights {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info,
.actions > a {
  transition: all var(--fast-transition);
}

.user-info:hover,
.actions > a:hover {
  opacity: 0.8;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.actions > a > img {
  height: 20px;
}

.profile-area {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile-area > hr {
  color: white;
  margin: 0;
}
