.messages {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.message {
  display: flex;
  gap: 0.5rem;
}

.message-body {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: start;
}

.message p {
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
  background-color: var(--primary-button-color);
}

.message.sender p {
  background-color: var(--secondary-button-color);
}
