body {
  text-align: center;
}

.header {
  background-color: rgba(177, 143, 105, 0.85);
  padding: 0.2rem;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  color: white;
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
